html {
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 15px 10px;
}

.encabezado {
    display: flex;
    flex-direction: column;
    background: #121010;
    padding: 10px 0;
}

.logo-contenedor {
    display:flex;
    justify-content: center;
}

.logo {
    padding-left: 2.5rem;
    background-image: url(../img/Logo-costech.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 0px left 10px;
}

.titulo {
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}

.encabezado-menu ul {
    background: #183A6E;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem .5rem;
    margin-top: 0.7rem;
}

.encabezado-menu a {
    font-weight: bolder;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0 0.5rem;
    transition: 500ms all;
}

.encabezado-menu a:hover {
    font-size: 1.15rem;
    border-bottom: 2px solid rgb(161, 10, 10);
}

main {
    background: #E9E9E9;
    padding: 10px;
}

main p {
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    padding: 5px 0;
    text-align: justify;
}
.titulo-h2 {
    background: #d3d4d5;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1.2rem auto 0.5rem;
}

.titulo-h3 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1.2rem auto;
    padding: 5px;
    border-bottom: 1px solid #515859;
}

.servicios-lista-items {
    display: flex;
    flex-direction: column;
}

.servicios-lista-items img {
    width: 200px;
    max-width: 350px;
    margin: 0 auto;
}

.imagen-analisis-datos {
    transform: scale(2);
    width: fit-content;
}

.portafolio__subtitulo {
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
}

.proyectos {
    width: 96%;
    margin: 10px auto;
    text-align: center;
}

.pagina-web {
    background-color: #ffffff;
    width: 90%;
    margin: 10px auto;
}

.pagina-web__contenido {
    width: 94%;
    margin: 0 auto;
    padding: 15px 0;
}

.portafolio .proyectos img {
    width: 100%;
}

.proyectos .pagina-web figcaption {
    font-size: 1.2rem;
    margin: 10px 0;
    font-weight: 600;
}

.contacto-datos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto-datos a {
    display: block;
    font-size: 1.2rem;
    color: #000000;
    text-decoration: none;
    font-weight: bolder;
    padding:.7rem 0 .5rem 1.5rem;
}

.contacto-datos-email {
    background-image: url(../img/email-alt.svg.svg);
    background-repeat: no-repeat;
    background-position: top 10px left 1px;
}

.contacto-datos-telefono {
    background-image: url(../img/cell-phone.svg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top 2px left -10px;
}

form label {
    display: block;
    width: 60%;
    font-size: 1.2rem;
    margin: 15px auto;
}

.input-caja {
    display: block;
    width: 60%;
    padding: 10px 30px;
    margin: 0 auto;
}

#boton-enviar{
    display: block;
    text-align: center;
    width: 150px;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    background: rgb(247, 172, 31);
    border: none;
    padding: 1rem 0;
    margin: 0.5rem auto;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #183A6E;
    padding: 0 0 1.5rem;
}

footer .titulo {
    margin: 1rem 0 1.5rem;
    font-size: 2.5rem;
}

footer .logo {
    background-position: top 0px left 4px;
}

.footer-redes-img {
    display: inline-block;
    height: 3rem;
    margin-left: 1rem;
}

#mensajes-errores {
    color: red;
    text-align: center;
    font-weight: 600;
}

.mensaje-error {
    margin: 5px 0;
}

#envio-satisfactorio {
    color: green;
    margin-bottom: 10px;
    text-align: center;
}

@media screen and (min-width: 620px) {
    .servicios-lista {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    } 
    
    .pagina-web {
        display:inline-block;
        width: 48%;
        margin: 10px auto;
        vertical-align: top;
        
    }
    
}